// Margin
.margin0 {
  margin: 0;
}

.margin10 {
  margin: 10px;
}

.margin15 {
  margin: 15px;
}

.margin20 {
  margin: 20px;
}

.margintb0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margintb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margintb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margintb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.marginlr0 {
  margin-left: 0px;
  margin-right: 0px;
}

.marginlr10 {
  margin-left: 10px;
  margin-right: 10px;
}

.marginlr15 {
  margin-left: 15px;
  margin-right: 15px;
}

.marginlr20 {
  margin-left: 20px;
  margin-right: 20px;
}
.marginl0 {
  margin-left: 0;
}

.marginl10 {
  margin-left: 10px;
}

.marginl15 {
  margin-left: 15px;
}

.marginl20 {
  margin-left: 20px;
}
.marginr0 {
  margin-right: 0;
}

.marginr10 {
  margin-right: 10px;
}

.marginr15 {
  margin-right: 15px;
}

.marginr20 {
  margin-right: 20px;
}
.marginb0 {
  margin-bottom: 0;
}

.marginb10 {
  margin-bottom: 10px;
}

.marginb15 {
  margin-bottom: 15px;
}

.marginb20 {
  margin-bottom: 20px;
}

.margint0 {
  margin-top: 0;
}

.margint10 {
  margin-top: 10px;
}

.margint15 {
  margin-top: 15px;
}

.margint20 {
  margin-top: 20px;
}

// Padding
.padding0 {
  padding: 0;
}

.padding10 {
  padding: 10px;
}

.padding15 {
  padding: 15px;
}

.padding20 {
  padding: 20px;
}

.paddingtb0 {
  padding-top: 0;
  padding-bottom: 0;
}

.paddingtb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.paddingtb15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.paddingtb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddinglr0 {
  padding-left: 0px;
  padding-right: 0px;
}

.paddinglr10 {
  padding-left: 10px;
  padding-right: 10px;
}

.paddinglr15 {
  padding-left: 15px;
  padding-right: 15px;
}

.paddinglr20 {
  padding-left: 20px;
  padding-right: 20px;
}
.paddingl0 {
  padding-left: 0;
}

.paddingl10 {
  padding-left: 10px;
}

.paddingl15 {
  padding-left: 15px;
}

.paddingl20 {
  padding-left: 20px;
}
.paddingr0 {
  padding-right: 0;
}

.paddingr10 {
  padding-right: 10px;
}

.paddingr15 {
  padding-right: 15px;
}

.paddingr20 {
  padding-right: 20px;
}
.paddingb0 {
  padding-bottom: 0;
}

.paddingb10 {
  padding-bottom: 10px;
}

.paddingb15 {
  padding-bottom: 15px;
}

.paddingb20 {
  padding-bottom: 20px;
}

.paddingt0 {
  padding-top: 0;
}

.paddingt10 {
  padding-top: 10px;
}

.paddingt15 {
  padding-top: 15px;
}

.paddingt20 {
  padding-top: 20px;
}

//Display
.display-none {
  display: none;
}

.display-block {
  display: block;
}

//text
.text-gray {
  color: $text-gray;
}
