.movable-container {
  &-wrapper {
  }
  &-boundary {
    display: flex;
    flex-wrap: wrap;
    max-width: 630px;
    position: relative;
    .movable-cards {
      @extend %center-flex;
      font-size: 2rem;
      height: 200px;
      width: 200px;
      margin: 5px;
      background: red;
      box-shadow: 0px 0px 5px 5px #ff7070;
      &:active {
        opacity: 0.5;
        background: lighten(red, 0.5);
      }
    }
  }
}
