// ABOUT CONTAINER STYLING
.about-container {
  color: white;
  .about-content {
    &-0 {
      background: gray;
      background: linear-gradient(
        to bottom,
        #f0f2f0,
        #000c40
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &-1 {
      background: #f0f2f0; /* fallback for old browsers */
      background: linear-gradient(
        to right,
        #f0f2f0,
        #000c40
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &-2 {
      background: #f0f2f0; /* fallback for old browsers */
      background: linear-gradient(
        to right,
        #000c40,
        #f0f2f0
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &-0,
    &-1,
    &-2 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      .ab-content {
        font-style: italic;
      }
      .slide-in {
        &-left,
        &-right {
        }
      }
    }
  }
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow-y: scroll;
  cursor: pointer;
  &.image-0 {
    height: 450px;
    background-image: url('/images/img_parallax1.jpg');
    .ab-heading {
      @extend %make-center;
      text-align: center;
      font-weight: 600;
      font-family: fantasy;
    }
  }
  &.image-1 {
    height: 600px;
    background-image: url('/images/img_parallax.jpg');
    .ab-heading {
      @extend %make-center;
      text-align: center;
      font-weight: 600;
      font-family: fantasy;
    }
  }
  &.image-2 {
    height: 450px;
    background-image: url('/images/img_parallax3.jpg');
    .ab-heading {
      @extend %make-center;
      text-align: center;
      font-weight: 600;
      font-family: fantasy;
    }
  }
}
