.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.image-1 {
    height: 450px;
    background-image: url('/images/img_parallax.jpg');
  }
  &.image-2 {
    height: 650px;
    background-image: url('/images/img_parallax3.jpg');
  }
}
