.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  &.image-0 {
    height: 450px;
    background-image: url('/images/img_parallax2.jpg');
  }
  &.image-1 {
    height: 600px;
    background-image: url('/images/img_parallax.jpg');
  }
  &.image-2 {
    height: 450px;
    background-image: url('/images/img_parallax3.jpg');
  }
}
