.text-editor-wrapper {
  font-family: Georgia;
  .text-editor-container {
    width: 75%;
    text-align: left;
    position: relative;
    margin: 0 auto;
  }
  .function-panel {
    border: 1px solid $dark-gray;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    .toolbar-2 {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .tool-icon {
        padding: 5px;
        line-height: 10px;
        border-radius: 3px;
        &:hover,
        &.active {
          background: $background-gray;
        }
      }
    }
  }
  .editable-div {
    border-radius: 3px;
    border: 1px solid $dark-gray;
    width: 100%;
    min-height: 200px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #555;
    &:focus {
      outline: none;
    }
    &:empty:before {
      content: attr(placeholder);
      color: #aaa;
    }
  }
  #toolBar1 select {
    font-size: 15px;
  }
  #toolBar1 {
    .selectDiv {
      position: relative;
      display: inline-block;
    }

    /* IE11 hide native button (thanks Matt!) */
    select::-ms-expand {
      display: none;
    }

    .selectDiv select {
      appearance: none;
      display: inline-block;
      max-width: 320px;
      min-width: 130px;
      margin: 5px 5px;
      padding: 5px 12px;
      font-size: 16px;
      color: #333;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #0ebeff;
    }
  }
}

.preview-background {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  .preview-tile {
    height: 50px;
    width: 50px;
  }
}

// Background styles
.red-white {
  background: linear-gradient(to right, red, white);
}
.blue-white {
  background: linear-gradient(to right, blue, white);
}
.green-white {
  background: linear-gradient(to right, green, white);
}
.yellow-white {
  background: linear-gradient(to right, yellow, white);
}
.orange-white {
  background: linear-gradient(to right, orange, white);
}
