.text-editor-wrapper {
  .text-editor-container {
    width: 1000px;
    text-align: left;
    position: relative;
    margin: 0 20%;
  }
  .function-panel {
    border: 1px solid $primary-blue;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .editable-div {
    border-radius: 3px;
    border: 1px solid $primary-blue;
    width: 83.33333%;
    min-height: 200px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .text-area-main {
    width: 80%;
    border: 1px solid $primary-blue;
    border-radius: 3px;
    min-height: 200px;
    position: absolute;
    top: 30px;
    left: 0;
  }
  .editing-tool-bar {
    margin: 0 20px;
    .panel-button {
      background: $background-gray;
      border-radius: 3px;
    }
  }
  .intLink {
    cursor: pointer;
  }
  img.intLink {
    border: 0;
    height: 30px;
  }
  #toolBar1 select {
    font-size: 15px;
  }
  #textBox {
    width: 540px;
    height: 200px;
    border: 1px #000000 solid;
    padding: 12px;
    overflow: scroll;
  }
  #textBox #sourceText {
    padding: 0;
    margin: 0;
    min-width: 498px;
    min-height: 200px;
  }
  #editMode label {
    cursor: pointer;
  }
  #toolBar1 {
    .selectDiv {
      position: relative;
      display: inline-block;
    }
    .selectDiv:after {
      content: '>';
      transform: rotate(90deg);
      color: #0ebeff;
      right: 11px;
      top: 5px;
      padding: 6px 5px;
      border-bottom: 1px solid #0ebeff;
      position: absolute;
      pointer-events: none;
    }

    /* IE11 hide native button (thanks Matt!) */
    select::-ms-expand {
      display: none;
    }

    .selectDiv select {
      appearance: none;
      display: inline-block;
      max-width: 320px;
      min-width: 130px;
      margin: 5px 5px;
      padding: 5px 12px;
      font-size: 16px;
      color: #333;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #0ebeff;
    }
  }
  #toolBar2 {
    img.intLink + img.intLink {
      padding-left: 10px;
    }
  }
}
