$background-gray: #eee;
$background-darkgray: #bbb;
$primary-blue: #0075cb;

$text-gray: #ccc;
$text-lightgray: #eee;
$text-darkgray: #aaa;
$dark-gray: #bbb;

$header-height: 50px;

$left-nav-bar-close-width: 70px;
$text-color: #444;
$brand-danger: red;
$brand-warning: orange;
$brand-success: green;
$brand-primary: blue;
$left-nav-bar-open-width: 265px;
$light-gray: #ccc;
