@import 'variables';
@import 'global-constants';
@import 'text-editor';
@import 'image-editor';
@import 'small-module';

/* The default outline styling, for greatest accessibility. */
/* You can skip this to just use the browser's defaults. */
:focus {
  outline: #08f auto 2px;
}

/* When mouse is detected, ALL focused elements have outline removed. */
/* You could apply this selector only to buttons, if you wanted. */
body.using-mouse :focus {
  outline: none;
}

body:not(.using-mouse) .btn-primary:focus {
  background-color: #005c9e;
  border-color: #000;
}

//STYLES TO INHERIT IF NOT ASSIGN SPECIFICLY
body {
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner-container {
  height: 100px;
  background: linear-gradient(to right, #f0f2f0, #000c40);
}

.top-nav-bar {
  font-size: 24px;
  position: fixed;
  top: -47px;
  transition: 200ms ease 0s;
  display: flex;
  width: 100%;
  background: linear-gradient(to right, black, white);
  z-index: 20;
  &.is-invisible {
    opacity: 0;
  }
  &.is-visible {
    opacity: 1;
    top: 0;
  }
  .topnav-main-link {
    color: whitesmoke;
    font-size: 28px;
    text-decoration: none;
  }
  .topnav-right {
    text-align: right;
    width: 100%;
    &-link {
      color: $primary-blue;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 3px;
      &:hover,
      &:focus {
        background: $primary-blue;
        color: white;
      }
    }
  }
}

.modules-left-bar {
  height: calc(100vh - 100px);
  width: 15%;
  font-family: georgia;
  background: linear-gradient(to bottom, #f0f2f0, #000c40);
  a {
    text-decoration: none;
    color: black;
  }
  .nav-item {
    position: relative;
    &.active {
    }
    &:hover {
      box-shadow: 0 2px 20px 0 #d9dfe4;
      transition: all 0.1s linear;
      transform: scale(1, 1.03);
      z-index: 2;
    }
  }
  .icon-class {
    display: inline-block;
    width: 30px;
    height: 30px;
    img {
      height: 30px;
      width: 30px;
    }
  }
}

.module-panel-wrapper {
  background: linear-gradient(135deg, #f0f2f0, #000c40);
  width: 85%;
  .module-panel {
    width: 100%;
    height: 100%;
    background: white;
  }
}

//ABOUT CONTAINER STYLING
.about-container {
  color: white;
  .about-content {
    &-1 {
      background: #f0f2f0; /* fallback for old browsers */
      background: linear-gradient(
        to right,
        #f0f2f0,
        #000c40
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &-2 {
      background: #f0f2f0; /* fallback for old browsers */
      background: linear-gradient(
        to right,
        #000c40,
        #f0f2f0
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &-1,
    &-2 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      .ab-heading {
        text-align: center;
        font-family: fantasy;
      }
      .ab-content {
        font-style: italic;
      }
      .slide-in {
        &-left,
        &-right {
        }
      }
    }
  }
}
